<h2 class="subtitle is-inline">Alocações no projeto de id: {{idProjeto}}</h2>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <div class="field is-grouped">
                <div class="control">
                </div>
                <div class="control">
                </div>
            </div>
        </div>
    </div>
    <div class="level-right">
        <div class="field has-addons">
            <div class="control ml-5">
            </div>
        </div>
    </div>
</div>

<div *ngIf="page?.content?.length > 0">

    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th>Colaborador</th>
                <th style="width: 15%">Total de horas no projeto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of page.content;">
                <td>{{ item.id }}</td>
                <td>{{ item.colaborador?.nome }}</td>
                <td>{{ item.totalHoras }}</td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="page?.content?.length === 0">
    <p>Nenhum item cadastrado.</p>
</div>

<br />

<div class="box" style="background-color: #f1f1f1;" *hasAuthority="['CADASTRAR_APONTAMENTO']">
    <h3 class="subtitle"><b>Adicionar horas</b></h3>
    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="salvar(); $event.preventDefault()">
        <div class="field has-addons">
            <p class="control">
                <input (keypress)="apenasNumeros($event)" formControlName="horas" class="input" type="text" maxlength="2" style="width: 50px;"
                    title="Horas" placeholder="hh"/>
            </p>
            <p class="control">
                <input value=":" disabled class="input" type="text" style="width: 25px; text-align: center;" />
            </p>
            <p class="control">
                <input (keypress)="apenasNumeros($event)" formControlName="minutos" class="input" type="text" maxlength="2" style="width: 50px;"
                    title="Minutos" placeholder="mm"/>
            </p>
            <div class="control" style="padding-left: 10px;">
                <button [disabled]="loading" type="submit" class="button is-success">
                    <i class="material-icons with-label">save</i>
                    <span>Salvar</span>
                </button>
            </div>
        </div>
        <progress *ngIf="loading" class="progress is-small is-primary" max="100"></progress>
    </form>
</div>

<div class="field is-grouped">
    <div class="control">
        <a routerLink="/projetos" class="button is-link">
            <i class="material-icons with-label">arrow_left</i>
            <span>Voltar</span>
        </a>
    </div>
</div>