<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item">
        Appointment system    
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
  </div>
  <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
              <span class="navbar-item">
                  <a class="navbar-link is-arrowless">
                  </a>
              </span>
          </div>
      </div>
      <div class="navbar-end">
          <div class="navbar-item">
          </div>
      </div>
  </div>
</nav>