<app-header></app-header>

<section class="section">

  <i class="material-icons with-title">view_in_ar</i>
  <h2 class="subtitle is-inline">Projetos</h2>

  <div class="is-divider"></div>

  <h2 class="subtitle is-inline">Lista de projetos</h2>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="field is-grouped">
          <div class="control">            
          </div>
          <div class="control">
          </div>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="field has-addons">
        <div class="control ml-5">
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page?.content?.length > 0">

    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th style="width: 5%">ID</th>
          <th>Nome</th>
          <th style="width: 5%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of page.content;">
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>
            <div class="buttons" *hasAuthority="['LISTAR_POR_COLABORADOR_ALOCACAO']">
              <a [routerLink]="['form', item.id]" class="button">
                <i class="material-icons">visibility</i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div *ngIf="page?.content?.length === 0">
    <p>Nenhum item cadastrado.</p>
  </div>

</section>